.copy_elm{
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: rgb(68, 68, 68);
}

h1{
    font-size: 12px;
    display: flex;
    /* align-items: center; */
    color: rgb(78, 78, 78);
}